/* fonts------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


/*  ---------------------variables-------------------------------*/
:root{
    --
    --main-color: #00bfff;
    --dark: #242526;
    --dark-light: #3a3b3c;
    --white: #ffffff;
    --white-light: #c8c8c8;
    --shadow: 0 0 15px rgba(0,0,0,0.25);
    --cursive-font: 'Dancing Script', cursive;
    scroll-behavior: smooth;
}
.light-theme{
    --main-color: #00bfff;
    --white: #242526;
    --white-light: #3a3b3c;
    --dark: #ffffff;
    --dark-light: #c8c8c8;
    --shadow: 0 0 15px rgba(0,0,0,0.25);
    --cursive-font: 'Dancing Script', cursive;
    scroll-behavior: smooth;
}

/* global setting --------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* all similar section main--------------------- */
.about, .services, .skills, .projects, .contact{
        background: var(--dark);
        font-family: 'Poppins', sans-serif;
        color: var(--white);
    }
    .about .about-content,
    .services .serv-content,
    .skills .skills-content,
    .contact .contact-content{
        display: flex;
        flex-wrap: wrap;
        align-items: center;        
        justify-content: space-between;
    }
section{
    padding: 100px 0;
}
section .title{
        position: relative;
        font-weight: 500;
        margin-bottom: 60px;
        padding-bottom: 20px;
        font-size: 40px;
        color: var(--white);
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
    }
    section .title::before{
        content: "";
        position: absolute;
        bottom: 0px;
        left: 50%;
        width: 180px;
        height: 3px;
        background: var(--white);
        transform: translatex(-50%);
    }
    section .title::after{
        font-size: 15px;
        position: absolute;
        bottom: -13px;
        left: 50%;
        padding: 5px;
        background: var(--dark);
        transform: translateX(-50%);
    }

/* ------------------page loader------------------------ */
.page-loader{
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: var(--dark);
    z-index: 999;
}
.page-loader.fade-out{
    opacity: 0;
}
.page-loader::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 100px;
    background-color: var(--main-color);
    left: calc(50% - 50px);
    top: calc(50% - 2px);
    animation: pageLoader 1s linear infinite;
    transition: all 0.6s ease ;
    width: 100%;
    background-color: var(--dark);
    z-index: 999;
}
.page-loader.fade-out{
    opacity: 0;
}
#clackers {
/*   border: 1px solid white; */
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: pageLoader 1s linear infinite;
    transition: all 0.6s ease;
}
#iconn{
    width: 30px;
    cursor: pointer;
}
body {
    background: #231f20;
}
/* ---------------navbar styling--------- */
.navbar{
    overflow: hidden;
    z-index: 999;
    position: fixed;
    width: 100%;
    padding: 5px 0;
    /* background: var(--main-color);  */
    font-family: 'ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 5px 0;
    background: var(--dark);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: var(--white);
    font-size: 35px;
    font-weight: 600;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: red;
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: var(--main-color);
}
.navbar.sticky .menu li a:hover{
    color:var(--main-color);
}
.navbar  img{
    margin-left: 10px;
    cursor: pointer;
    text-align: right;
}
nav ul{
    
    flex: 1;
    text-align: right;
}

/* menu button styling */
.menu-btn{
    color: red;
    font-size: 23px;
    cursor: pointer;
    display: none;
    shadow: 1px 2px 15px var(--white);
}

/* --------------------------buttons---------------------- */ 
.btn{
    display: inline-block;
    padding: 10px 30px;
    background-color:transparent;
    border-radius: 30px;
    margin-top: 25px;
    font-weight: 500;
    transition: all 0.5s ease;
    font-size: 16px;
    cursor: pointer;
    font-family: inherit;
    color: var(--main-color);
    line-height: 1.5;
    user-select: none;
    border: none;
}
.btn-default{
    border: 2px solid var(--main-color);
}
.btn-default:hover{
    color: var(--white);
    background-color: var(--main-color);
}
.float-button{
    display: inline-flex;
    position: sticky;
    right: 20px;
    bottom: 20px;
    box-shadow: -0px -0px 15px var(--dark-light);

}

.float-button:hover{
box-shadow: -0px -0px 15px #00bfff;
}
/* ------------ home section------------*/
.home{
    overflow: hidden;
    display: flex;
    background: url("./images/background.png") no-repeat center;
    height: 100vh;
    color: whitesmoke;
    min-height: 500px;
    font-family: 'Ubuntu',sans-serif;
    background-color: var(--dark);
    animation: zoomInOut 20s ease infinite;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
    padding-bottom: 20px;
}
.home .home-content .text-3 span{
    color: var(--main-color);
    font-weight: 500;
    font-family: var(--cursive-font);
}

/* about section------------------------- */

    
    .about .title::after{
        content: "Who am I?";
        font-size: 20px;
        font-family: var(--cursive-font);
        color: var(--main-color);
    }
    

    .about .about-content .left{
        width: 45%;
    } 

    .about .about-content .left img{
        height: 400px;
        width: 400px;
        object-fit: cover;
        border-radius: 6px;
        box-shadow: 1px 2px 30px var(--main-color);
    }

    .about .about-content .right{
        width: 55%;
    }
    .about .about-content .right .text{ 
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 10px;
        color: var(--white);
    }
    .about .about-content .right .text span{
        color: var(--main-color);
    }
    .about .about-content .right  p{
        text-align: justify;
        color: var(--white);
    }
    .about .about-content .right .btn-default{
        margin-top: 25px;
    }


    /* services section starts----------------------------------------- */

.services{
    background: var(--dark-light);
}

.services .title::before{
        width: 218px;
}
.services .title::after{
    content: "What I  provide?";
        padding: 5px;
    font-size: 20px;
        font-family: var(--cursive-font);
        color: var(--main-color);
        background: var(--dark-light);
}

.services .serv-content .card{
    width: calc(33% - 20px);
    background: var(--dark);
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    box-shadow: 1px 2px 15px var(--white-light);
    transition: all 0.3s ease;
}

.services .serv-content .card {
    transition: all 0.3s ease;
}
.services .serv-content .card:hover{
    transform: scale(1.05);
    box-shadow: 1px 2px 15px var(--main-color);
}

.services .serv-content .card i{
    font-size: 50px;
    color: var(--main-color);
    transition: color 0.3s ease;
}
.services .serv-content .card:hover i{
    color: var(--white);
}
.services .serv-content  .card a .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    transition: color 0.3s ease;
    color: var(--white);
}
.services .serv-content .card:hover .text{
    color: var(--main-color);

}
    .services .serv-content p{

        color: var(--white);
    }





/* skills section-------------------------------------------- */
.skills{
    background-color: var(--dark);
}

.skills .title::before{
    width: 160px;
}
.skills .title::after{
        content: "What I know?";
        padding: 5px;
        font-size: 20px;
        font-family: var(--cursive-font);
        color: var(--main-color);
        background: var(--dark);
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
        color: white;
}
.skills  .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 15px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: var(--white-light);
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    
    left: 0;
    top: 0;
    background: var(--main-color);
}
.skills-content .right .html::before{
    width: 60%;
}
.skills-content .right .css::before{
    width: 60%;
}
.skills-content .right .js::before{
    width: 30%;
}
.skills-content .right .cc::before{
    width: 80%;
}
.skills-content .right .adobe::before{
    width: 70%;
}
.skills-content .right .sketch::before{
    width: 85%;
}
.skills-content .right .motovlog::before{
    width: 75%;
}


/* -----------projects section styling------------------------- */
.projects{
    background: var(--dark-light);
}

.projects .title::before{
        width: 218px;
}
.projects .title::after{
    content: "What I designed?";
        padding: 5px;
    font-size: 20px;
        font-family: var(--cursive-font);
        color: var(--main-color);
        background: var(--dark-light);
} 
.projects .carousel .card{
    background: var(--dark);
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: color 0.3s ease;
    /* box-shadow: 1px 2px 15px var(--white-light); */
    
}
.projects .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
}
.projects .carousel a .card .text{
    color: var(--white);
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    transition: color 0.3s ease;
}
.projects .carousel a .card p{
    color: var(--white);
    transition: color 0.3s ease;
}
.projects .carousel a .card:hover .text{
    color: var(--main-color);
}
.projects .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 6px;
    border: 0px solid var(--white-light);
    box-shadow: 1px 2px 15px var(--white-light);
}
.projects .carousel .card video{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 6px;
    border: 0px solid var(--white-light);
    box-shadow: 1px 2px 15px var(--white-light);
}
.projects .carousel .card:hover img{
    border: 0px solid var(--main-color);
    box-shadow: 1px 2px 15px var(--main-color);
}
.projects .carousel .card:hover video{
    border: 0px solid var(--main-color);
    box-shadow: 1px 2px 15px var(--main-color);
}
.projects .carousel .card:hover .box{
    transform: scale(1.05);
    /* box-shadow: 1px 2px 15px var(--main-color); */
}





.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px  solid var(--main-color)!important;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: var(--main-color)!important;
}

/* contact section styling-------------------- */


.contact{
    background: var(--dark);

}
.contact .title::before{
        width: 218px;
}
.contact .title::after{
    content: "Get in Touch!";
        padding: 5px;
    font-size: 20px;
        font-family: var(--cursive-font);
        color: var(--main-color);
        background: var(--dark);
} 
.contact .text{
    color: var(--white);
        font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    transition: color 0.3s ease;
}
.contact .column i{
    color: var(--main-color);
    transition: color 0.3s ease;
}

.contact p{
    color: var(--white);
    transition: color 0.3s ease;
}
.contact a{
    color: var(--white);
    transition: color 0.3s ease;
}
.contact a:hover{
    color: var(--main-color);
    transition: color 0.3s ease;
}

.contact .contact-content{
    text-align: center;
}
.contact .contact-content .column{
    width: calc(100%/3);
    padding: 0 15px;
}

.contact .social-links{
    text-align: center;
}
.contact .social-links a{
    display: inline-flex;
    height: 100px;
    width: 40px;
    color: var(--white);
    font-size: 22px;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
}
.contact .social-links a:hover{
    color: var(--main-color);
}
.contact .copyright{
    margin: 80px 0 0;
    width: 100%;
    text-align: center;
    padding: 25px 15px;
    font-size: 14px;
    border-top: 1px solid var(--white-light);
    color: var(--dark);
}
.contact .copyright p{
    color: var(--white-light);
}
.contact .copyright p a{
    color: var(--main-color);
}




/* responsive media query start --------------------------------- */
@media (max-width: 1300px){
    .max-width{
        overflow: hidden;
        margin-left: 0px;
    }
}
@media (max-width: 1104px){ 
    .max-width{
        overflow: hidden;
    }
    .about .about-content .left img{
        height: 350px;
        width: 350px;
        border-radius: 6px;
        box-shadow: 1px 2px 30px var(--main-color);
    }
}
@media (max-width: 991px){
    .max-width{
        overflow: hidden;
    padding: 0 50px;
    }
}

@media (max-width: 947px){
    .max-width{
        overflow: hidden;
    }
    .menu-btn{
    z-index: 999;
    display: block;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        right: -100%;
        top: 0;
        background-color: var(--dark);
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        right: 0%;
    }
    .navbar .menu li{
        display: block;
    }

    .navbar .menu li a{  
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
    font-size: 70px;
    }
    .home .home-content .text-3{
    font-size: 35px;
    }
    
    .about .about-content .column{
    width: 100%;
    }   
    .max-width{
    max-width: 930px;

    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .services .serv-content .card i{
        font-size: 40px;
    }
    .services .serv-content .card .text{
        font-size: 23px;
    }
        .services .serv-content .card p{
        font-size: 18px;
    }
    .skills .skills-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
    .skills .skills-content p{
        font-size: 15px;
    }
.contact .contact-content .column{
    width: calc(50% );
    padding: 15px 15px;
}
    .contact-content:not(:last-child){
        margin-bottom: 10px;
    }

}
@media (max-width: 690px){
    .max-width{
        overflow: hidden;
    padding: 0 23px;
    }
    .home .home-content .text-2{
    font-size: 55px;
    }
    .home .home-content .text-3{
    font-size: 32px;
    }

    .about .about-content .right .text{ 
        font-size: 20px;
        
    }
    .about .about-content .right p{ 
        font-size: 15px;
        
    }
    .services .serv-content .card{
        width: 100%;

    }
    .services .serv-content .card i{
        font-size: 30px;
    }
    .services .serv-content .card .text{
        font-size: 20px;
    }
        .services .serv-content .card p{
        font-size: 15px;
    }
.contact .contact-content .column{
    width: calc(100%);
    padding: 15px 15px;
}
    .contact-content:not(:last-child){
        margin-bottom: 15px;
    }
}
@media (max-width: 500px){
    .max-width{
        overflow: hidden;
    padding: 0 23px;
    }
    .home .home-content .text-2{
    font-size: 50px;
    }
    .home .home-content .text-3{
    font-size: 30px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
} 
@media (max-width: 320px){
    .max-width{
        overflow: hidden;
        margin-left: 0px;
    }

}